In [1]:
lista = ["ajay","sami","hari"]

In [2]:
listb = ["Rahul","Raman","Anuj",lista]

In [3]:
listb

['Rahul', 'Raman', 'Anuj', ['ajay', 'sami', 'hari']]

In [4]:
listb.sort()

TypeError: '<' not supported between instances of 'list' and 'str'

In [5]:
listb.extend(lista)

In [6]:
listb

['Anuj', 'Rahul', 'Raman', ['ajay', 'sami', 'hari'], 'ajay', 'sami', 'hari']

In [7]:
listb.

SyntaxError: invalid syntax (<ipython-input-7-8c86e3deb5f4>, line 1)

In [9]:
listb.pop(3)

['ajay', 'sami', 'hari']

In [10]:
listb

['Anuj', 'Rahul', 'Raman', 'ajay', 'sami', 'hari']

In [11]:
listb.reverse()

In [12]:
listb

['hari', 'sami', 'ajay', 'Raman', 'Rahul', 'Anuj']

In [13]:
listb.remove(3)

ValueError: list.remove(x): x not in list

In [17]:
listb.copy()

['hari', 'sami', 'ajay', 'Raman', 'Rahul', 'Anuj']

In [15]:
listc = []

In [19]:
listb.insert(2,'Abir')

In [20]:
listb

['hari', 'sami', 'Abir', 'ajay', 'Raman', 'Rahul', 'Anuj']

In [21]:
listb.add('Ash')

AttributeError: 'list' object has no attribute 'add'

In [25]:
listb+['Ash','Lama']

['hari', 'sami', 'Abir', 'ajay', 'Raman', 'Rahul', 'Anuj', 'Ash', 'Lama']

In [24]:
listb

['hari', 'sami', 'Abir', 'ajay', 'Raman', 'Rahul', 'Anuj']

In [2]:
listb

NameError: name 'listb' is not defined

In [1]:
listb.sort()

NameError: name 'listb' is not defined

In [3]:
lista = ["ajay","sami","hari"]

In [4]:
listb = ["Rahul","Raman","Anuj",lista]

In [5]:
listb

['Rahul', 'Raman', 'Anuj', ['ajay', 'sami', 'hari']]

In [6]:
listb.reverse()

In [7]:
listb

[['ajay', 'sami', 'hari'], 'Anuj', 'Raman', 'Rahul']

In [8]:
print (listb.sort())

TypeError: '<' not supported between instances of 'str' and 'list'

In [9]:
listb.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [10]:
listb.copy()

[['ajay', 'sami', 'hari'], 'Anuj', 'Raman', 'Rahul']

In [17]:
listb.remove('Rahul')

In [18]:
listb

[['ajay', 'sami', 'hari'], 'Anuj', 'Raman']

In [20]:
listb[0][2]

'hari'

In [23]:
listnum=[0,1,4,2,5,7,9,5,2,1,3,3,0,4,6,5,0,0,6,3,5,6,8,4,2,5]

In [24]:
listnum

[0, 1, 4, 2, 5, 7, 9, 5, 2, 1, 3, 3, 0, 4, 6, 5, 0, 0, 6, 3, 5, 6, 8, 4, 2, 5]

In [26]:
listnum.count(1)

2

In [27]:
listnum.count(5)

5

In [28]:
any(5)

TypeError: 'int' object is not iterable

In [35]:
listnum.insert(5,[])

In [30]:
listnum

[0,
 1,
 4,
 2,
 5,
 [],
 7,
 9,
 5,
 2,
 1,
 3,
 3,
 0,
 4,
 6,
 5,
 0,
 0,
 6,
 3,
 5,
 6,
 8,
 4,
 2,
 5]

In [31]:
listnum.pop(5)

[]

In [32]:
listnum

[0, 1, 4, 2, 5, 7, 9, 5, 2, 1, 3, 3, 0, 4, 6, 5, 0, 0, 6, 3, 5, 6, 8, 4, 2, 5]

In [33]:
any(listnum)

True

In [34]:
all(listnum)

False

In [36]:
listnum

[0,
 1,
 4,
 2,
 5,
 [],
 7,
 9,
 5,
 2,
 1,
 3,
 3,
 0,
 4,
 6,
 5,
 0,
 0,
 6,
 3,
 5,
 6,
 8,
 4,
 2,
 5]

In [37]:
any(listnum)

True

In [38]:
all(listnum)

False

In [39]:
sum(listnum)

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [41]:
listnum.pop(5)

[]

In [43]:
sum(listnum)

96

In [44]:
max(listnum)

9

In [45]:
min(listnum)

0

In [46]:
avg(listnum)

NameError: name 'avg' is not defined

In [53]:
len(listnum)

25

In [51]:
listnum.remove(9)

In [52]:
listnum

[0, 1, 4, 2, 5, 7, 5, 2, 1, 3, 3, 0, 4, 6, 5, 0, 0, 6, 3, 5, 6, 8, 4, 2, 5]

In [54]:
del listnum[9]

In [55]:
listnum

[0, 1, 4, 2, 5, 7, 5, 2, 1, 3, 0, 4, 6, 5, 0, 0, 6, 3, 5, 6, 8, 4, 2, 5]

In [56]:
5 in listnum

True

In [57]:
95 in listnum

False

In [64]:
listnum1=[5,88,0,8]

In [65]:
listnum.insert(6,listnum1)

In [66]:
listnum

[0,
 1,
 4,
 2,
 5,
 7,
 [5, 88, 0, 8],
 5,
 2,
 1,
 3,
 0,
 4,
 6,
 5,
 0,
 0,
 6,
 3,
 5,
 6,
 8,
 4,
 2,
 5]

In [63]:
listnum.pop(6)

[5, 8, 0, 8]

In [67]:
88 in listnum

False