In [2]:
lista = ('hari','bajaj','akshit','rahul','mani')

In [3]:
type(lista)

tuple

In [4]:
listb = ('rashi','anuj')

In [5]:
listb.append(lista)

AttributeError: 'tuple' object has no attribute 'append'

In [6]:
listb.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [7]:
lista[2]

'akshit'

In [8]:
lista[2][1]

'k'

In [9]:
lista.count('akshit')

1

In [10]:
lista.count('vanu')

0

In [11]:
list = ['rahul','ravi']

In [12]:
lista.extend(list)

AttributeError: 'tuple' object has no attribute 'extend'

In [13]:
lista.insert(list)

AttributeError: 'tuple' object has no attribute 'insert'

In [15]:
listc = lista+listb

In [16]:
listc

('hari', 'bajaj', 'akshit', 'rahul', 'mani', 'rashi', 'anuj')

In [17]:
listc+['rahul','ravi']

TypeError: can only concatenate tuple (not "list") to tuple

In [18]:
listc[0][3]

'i'

In [19]:
#set

In [23]:
seta = {1,2,3,4,5,6,7}
setb = {11,22,33,44,55}

In [24]:
print(seta)

{1, 2, 3, 4, 5, 6, 7}

In [25]:
print(setb)

{33, 11, 44, 22, 55}

In [26]:
setb[2]

TypeError: 'set' object does not support indexing

In [28]:
setb.pop()

33

In [29]:
setb

{11, 22, 44, 55}

In [30]:
seta & setb

set()

In [31]:
seta | setb

{1, 2, 3, 4, 5, 6, 7, 11, 22, 44, 55}

In [32]:
seta ^ setb

{1, 2, 3, 4, 5, 6, 7, 11, 22, 44, 55}

In [33]:
seta + setb

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [34]:
seta - setb

{1, 2, 3, 4, 5, 6, 7}

In [35]:
setb - seta

{11, 22, 44, 55}

In [36]:
#map

In [37]:
avenger = {'thor':'hammer', 'captain':['shield', 'hammer'], 'panther':'vibranium'}

In [38]:
avenger['captain']

['shield', 'hammer']

In [39]:
avenger['captain'][0]

'shield'

In [40]:
marvel = {'Wolverine':'claws', 'avenger':avenger, 'mystique':'shape shift' }

In [42]:
marvel['avenger']['thor']

'hammer'

In [45]:
avenger['hawkeye'] = 'arrows' #adding keys with values

In [46]:
avenger

{'thor': 'hammer',
 'captain': ['shield', 'hammer'],
 'panther': 'vibranium',
 'hawkeye': 'arrows'}

In [47]:
avenger['captain'].insert(0, 'anything')

In [48]:
avenger

{'thor': 'hammer',
 'captain': ['anything', 'shield', 'hammer'],
 'panther': 'vibranium',
 'hawkeye': 'arrows'}

In [51]:
for val in avenger:
    print(val)
#prints all the key values

thor
captain
panther
hawkeye

In [53]:
for val in avenger:
    print(val," :",avenger[val])
#prints all the key and its values

thor  : hammer
captain  : ['anything', 'shield', 'hammer']
panther  : vibranium
hawkeye  : arrows

In [69]:
x = (avenger.values()) #for printing the key values

In [63]:
x

dict_values(['hammer', ['anything', 'shield', 'hammer'], 'vibranium', 'arrows'])

In [70]:
y = (avenger.keys()) #for printing the keys

In [65]:
y

dict_keys(['thor', 'captain', 'panther', 'hawkeye'])

In [72]:
z= (avenger.items()) #for print the key along with its values

In [73]:
z

dict_items([('thor', 'hammer'), ('captain', ['anything', 'shield', 'hammer']), ('panther', 'vibranium'), ('hawkeye', 'arrows')])

In [74]:
for k, v in avenger.items():
    print(k, ":", v)

#for printing the keys and its values

thor : hammer
captain : ['anything', 'shield', 'hammer']
panther : vibranium
hawkeye : arrows