In [5]:
lista = ['hari','bajaj','akshit','rahul','mani']

In [2]:
listb = ['manik','haren','lily']

In [3]:
lista.extend(listb)

In [4]:
lista

['hari', 'bajaj', 'akshit', 'rahul', 'mani', 'manik', 'haren', 'lily']

In [6]:
lista

['hari', 'bajaj', 'akshit', 'rahul', 'mani']

In [7]:
lista.append(listb)

In [8]:
lista

['hari', 'bajaj', 'akshit', 'rahul', 'mani', ['manik', 'haren', 'lily']]

In [10]:
if lista[5][2] == 'lily' :
    print("first condition")
    # 
elif lista[0] < 'lily':
    print("2nd")
else :
    print("else condition")

first condition

In [14]:
if lista[4] == 'mani' :
    print("first condition")
elif lista[5] <= 'mani':
    print("2nd")
else :
    print("else condition")

first condition

In [15]:
# for loop

In [19]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=' ')
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [20]:
for i in range(1,6):
    for j in range(1,i+1):
        print(i,end=' ')
    print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [21]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [27]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(i,end=' ')
    print()

5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [28]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=' ')
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [29]:
#while

In [30]:
i = 0
while i < 5:
    print(i)
    i = i+1

0
1
2
3
4

In [33]:
for i in range(len(lista)):
    print(lista[i])

hari
bajaj
akshit
rahul
mani
['manik', 'haren', 'lily']

In [34]:

lista = ['netflix', 'prime', 'hotstar', 'zee5', 'disney', 'hbo', 'tv+']

In [35]:
listb = ['hotstar','hoichoi','voot']

In [38]:
listc=lista and listb

In [39]:
listc

['hotstar', 'hoichoi', 'voot']

In [40]:
listc = lista in listb

In [41]:
listc

False

In [42]:
listc = listb in lista

In [43]:
listc

False

In [44]:
for i in range(0,3):
    for j in range(0, 3):
        if(i==j):
            print("lunch break at 2pm")
            break;
        else:
            print("no lunch break")
    print("no tea break too")

lunch break at 2pm
no tea break too
no lunch break
lunch break at 2pm
no tea break too
no lunch break
no lunch break
lunch break at 2pm
no tea break too

In [45]:
for i in range(0,3):
    for j in range(0, 3):
        if(i==j):
            print("lunch break at 2pm")
            continue;
        else:
            print("no lunch break")
    print("no tea break too")

lunch break at 2pm
no lunch break
no lunch break
no tea break too
no lunch break
lunch break at 2pm
no lunch break
no tea break too
no lunch break
no lunch break
lunch break at 2pm
no tea break too

In [46]:
for i in listb:
    if (i in lista):
        print(i)
        break;
else:
    print("no")

hotstar